@use "../../../../mixins.scss" as mixins;
@use "../../../../colors.scss" as colors;

.messagebox {
  border: none;
  width: 100%;
  height: 100px;
  resize: none;
  font-size: 1.125rem;
  color: colors.$grey;
  padding:20px;
  border-radius: inherit;
  overflow-y: auto;
  &:focus {
    outline: none;
  }

  &::placeholder {
    color: colors.$grey;
  }
}

.messagebox__icons-container {
    bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 10px 10px;
  img {
    display: block;
    padding: 10px;
    &:hover {
      cursor: pointer;
    }
  }

  div {
    @include mixins.flexbox(row, space-between, center);
    gap: 5px;
  }
}

.messagebox-wrapper {
  position: relative;
  border: 1px solid colors.$light-purple;
  border-radius: 20px;
}

.messagebox-wrapper{
  position: relative;
  border: 1px solid colors.$light-purple;
  border-radius: 20px;
}

.emoji-picker__wrapper{
  position: absolute;
  bottom: 130px;
  left: 35px;
}