@use "../../../../mixins.scss" as mixins;
@use "../../../../colors.scss" as colors;

.threadchat__header {
  @include mixins.flexbox(row, space-between, center);
  padding: 32px 40px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
  border-radius: 30px 30px 0 0;
}

.threadchat__header__title-container {
  @include mixins.flexbox(row, space-between, center);
  gap: 5px;
}

.threadchat__header-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.threadchat__header-hashtag {
  font-size: 0.875rem;
  margin-left: 5px;
  color: colors.$purple2;
}

.threadchat__header-channelname {
  font-size: 0.875rem;
  margin-left: 5px;
  color: colors.$purple2;
}

.threadchat__header-btn {
  border: none;
  background: none;
  cursor: pointer;
  border-radius: 40px;
  width: 40px;
  height: 40px;
  @include mixins.flexbox(column, center, center);

  img {
    display: block;
    
  }

  &:hover {
    background-color: colors.$bg-color;
  }

  &:hover > img {
    filter: invert(31%) sepia(41%) saturate(5436%) hue-rotate(231deg) brightness(101%) contrast(99%);
  }
}
