@use "./../../../../colors.scss" as colors;

.cont {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: fit-content;
    max-height: 300px;
    width: 300px;
    background-color: white;
    border-radius: 20px;
    padding: 15px;
    border: 1px solid lightgray;
    overflow-y: scroll;

    &::-webkit-scrollbar-track {
        margin: 15px;
    }
}

.user, .channel {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    padding: 5px;
    padding-right: 15px;
    width: fit-content;
    img {
        width: 40px;
        height: 40px;
        border-radius: 100%;
    }
    span {
        font-size: 18px;
    }
    &:hover {
        cursor: pointer;
        background-color: colors.$bg-color;
    }
}

.avatar-box {
    display: flex;
    position: relative;

    div {
        position: absolute;
        bottom: 0px;
        right: 0px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 2px solid colors.$white;
    }
}