@use "../../../mixins.scss" as mixins;

.menu-header {
    @include mixins.flexbox(column, space-between, center, nowrap);
    width: 100%;
    padding: 32px 30px 0 30px;
}

.menus {
    @include mixins.flexbox(column, flex-start, flex-start, nowrap);
    width: 100%;
    padding: 0px 30px 0px 30px;
}

.scroll-box {
    height: 100%;
    overflow-y: auto;
    gap: 25px;
    margin: 0 0 24px 0;
    width: 100%;

    img {
        position: absolute;
        cursor: pointer;
        width: 60px;
        height: 60px;
        bottom: 25px;
        right: 25px;
    }

}


@media (max-width: 900px) {
    .menu-header {
        padding: 20px 16px 0 10px;
    }
}