@use "../../../mixins.scss" as mixins;
@use "../../../colors.scss" as colors;


.chatbox__emojis-container {
    @include mixins.flexbox(row, flex-start, center, wrap);
    gap: 12px;
    overflow-x: visible;
    padding-bottom: 0.3em;
}


.chatbox__emojis-container ::-webkit-scrollbar {
    height: 8px
}


.chatbox__emojis {
    @include mixins.flexbox(row, center, center, nowrap);
    border: 1px solid colors.$light-purple;
    padding: 5px 10px;
    border-radius: 20px;
    gap: 10px;
    cursor: pointer;
    &:hover {
        transition: 0.25s ease-in-out;
        border: 1px solid colors.$purple3;
    }
    &:hover .chatbox__reaction-users {
        transition: 0.25s ease-in-out;
        display: flex;
    }
}

.chatbox__reaction-users {
    @include mixins.flexbox(column, center, center, nowrap);
    gap: 5px;
    color: white;
    background-color: colors.$purple;
    position: absolute;
    z-index: 5;
    bottom: 22px;
    left: 22px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 15px 28px;
    display: none;
}

.chatbox__reaction-users__icon {
    text-align: center;
    font-size: 1.875rem;
}

.chatbox__reaction-users__title {
    text-align: center;
    font-size: 1.125rem;
}

.chatbox__reaction-users__description {
    text-align: center;
}

.chatbox__emoji-reacted {
    border: 1px solid colors.$purple3;
}

.chatbox__addreaction-container {
    &:hover {
        transition: 0.25s ease-in-out;
        filter: invert(30%) sepia(72%) saturate(3091%) hue-rotate(229deg) brightness(98%) contrast(92%);
    }
}
