@use './../../../mixins.scss' as mixins;
@use './../host.scss';

.separation {
    @include mixins.flexbox($direction:row);
    gap: 10px;
    width: 100%;
}

.line {
    flex: 1;
}

.buttons {
    justify-content: center;
}