@use "../../../../mixins.scss" as mixins;
@use "../../../../colors.scss" as colors;

.searchbar-container {
  @include mixins.flexbox(row, space-between, center);
  width: 100%;
  position: relative;
  z-index: 1;
  button {
    position: absolute;
    right: 32px;
    z-index: 1;
  }

  input {
    padding: 0px 32px;
    border-radius: 48px;
    height: 60px;
    flex: 1;
    font-size: 16px;
    border: none;
    outline: none;
    color: colors.$grey;
    &:hover {
      outline: 1px solid colors.$light-purple;
    }
    &:focus-visible {
      outline: 1px solid colors.$purple2;
    }
    &::placeholder {
      color: colors.$grey;
      font-size: 16px;
    }
  }
}

button {
  border: none;
  cursor: pointer;
  background-color: unset;
  display: flex;
}
img {
  width: 24px;
  height: 24px;
}

.feedback-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  min-height: 60px;
  max-height: 350px;
  flex-direction: column;
  top: 68px;
  left: 0;
  right: 0;
  z-index: 4;
  border-radius: 30px;
  box-shadow: -2px -2px 10px 0px rgba(0, 0, 0, 0.18);
  outline: 1px solid colors.$purple2;
  background-color: colors.$white;
}

.feedback-main {
  width: 100%;
  overflow-y: scroll;
  margin: 25px 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.feedback-wrapper-error {
  justify-content: center;
      color: colors.$grey;
}

.feedback-user-status-container{
  display: flex;
  gap:5px;
}

.feedback-user-status{
        height: 16px;
      width: 16px;
      border-radius: 50%;
}

.feedback-container {
  width: 100%;
  z-index: 4;
  padding: 2px 20px;
  border-radius: 30px;

  .feedback-box {
    opacity: 1;
    @include mixins.flexbox(row, flex-start, flex-start);
    color: colors.$grey;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid colors.$light-purple;
    border-radius: 16px;
    width: 100%;
    z-index: 4;
    cursor: pointer;
    gap: 10px;

    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
    }
    &:hover {
      background-color: colors.$bg-color;
    }
  }
  .feedback-message-header {
    @include mixins.flexbox(row, space-between, center);
    width: 100%;
  }
  .feedback-message {
    @include mixins.flexbox(column, space-evenly, flex-start, nowrap);
    flex: 1;
    height: 60px;
    overflow-y: scroll;
    gap: 4px;
    word-break: break-word;
    padding-right: 5px;
  }
}

h3 {
  font-size: 20px;
  color: colors.$grey;
  text-align: start;
}

.feedback-message-container {
  @include mixins.flexbox(column, flex-start, flex-start);
  gap: 10px;
  width: 100%;
}

::-webkit-scrollbar {
  width: 5px !important;
}
