@use "../../../../mixins.scss" as mixins;
@use "../../../../colors.scss" as colors;

input {
        height: 40px;
        flex: 1;
        border: none;
        outline: none;
        font-size: 16px;
        color: colors.$grey;
            &:focus-visible {
            border: none;
            outline: none;
            }
            &::placeholder {
            color: colors.$grey;
            font-size: 16px;
            }
    }
    button {
        border: none;
        cursor: pointer;
        background-color: unset;
    }
    img {
        width: 24px;
        height: 24px;
    }