<div class="builder-container">
    <div class="m-height" *ngIf="menuState === 'in' || menuState === 'out'" [@slideAnimationLeft]="menuState"
      (@slideAnimationLeft.done)="onAnimationDone($event, 'menu')">
      <app-menu class="menu-container menu-width"></app-menu>
    </div>

    <app-mainchat
      [builder]="'mainchat'"
      class="menu-container mainchat-container"
      [ngClass]="{ hidden: smallWindow && threadchatOpened || mobile && menuOpened }"
    ></app-mainchat>

    <div class="m-height" *ngIf="threadchatState === 'in' || threadchatState === 'out'"
      [@slideAnimationRight]="{ value: threadchatState, params: { width: smallWindow ? '100%' : '485px' } }"
      (@slideAnimationRight.done)="onAnimationDone($event, 'threadchat')">
      <app-threadchat
        [builder]="'threadchat'"
        class="menu-container thread-container thread-width"
      ></app-threadchat>
    </div>

  <app-menutoggler class="toggleButton" (click)="toggleMenu()"
    [menuState]="menuOpened ? 'schließen' : 'öffnen'"></app-menutoggler>
</div>
