@use "../../../../mixins.scss" as mixins;
@use "../../../../colors.scss" as colors;

.chatbox__mainthread-container {
    @include mixins.flexbox(row, flex-start, flex-start, nowrap);
    gap: 20px;
    padding: 10px 40px;
    margin-top: 17px;
    position: relative;
    width: 100%;

    &:hover {
        background-color: colors.$bg-color;
    }

    &:hover .chatbox__msg {
        background-color: colors.$white;
    }

    &:hover .chatbox__msg-sent {
        background-color: colors.$purple2;
    }

    &:hover .chatbox__addemoji-container {
        @include mixins.flexbox(row, center, center, nowrap);
    }
}

.chatbox__addemoji__sent {
    left: 25px;
    right: unset;
}

.chatbox__addemoji__lastUsedEmoji {
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;

    &:hover {
        background-color: colors.$bg-color;
    }
}

.message {
    @include mixins.flexbox(row, center, center, nowrap);
    margin: 20px 35px;
    scroll-snap-align: end;
}

.thread__days__devider {
    margin: 10px 35px !important;

    &::before,
    &::after {
        background-color: white !important;
    }

    .thread__divider-text {
        display: none;
    }
}

.thread__divider {
    @include mixins.flexbox(row, center, center, nowrap);
    position: absolute;
    top: 50%;

    &::before,
    &::after {
        flex: 1;
        content: "";
        padding: 1px;
        background-color: colors.$light-purple;
    }
}

.thread__divider-text {
    font-size: 1.125rem;
    padding: 5px 15px;
    border: 1px solid colors.$light-purple;
    border-radius: 30px;
    z-index: 1;
    background-color: colors.$white;
}

.emoji-picker__wrapper-top-right {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;
}

.emoji-picker__wrapper-top-right-thread {
    position: absolute;
    top: 0;
    right: 27px;
    z-index: 9;
}

.emoji-picker__wrapper-top-left {
    position: absolute;
    top: 0;
    left: 27px;
    z-index: 9;
}

.emoji-picker__wrapper-top-left-thread {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
}

.edit__message {
    .chatbox__msg-container__sent {
        justify-content: center;
    }

    .chatbox__msg-container {
        padding: 0px 10px;
        justify-content: center;
    }
}

.emoji-picker__wrapper-left {
    position: absolute;
    bottom: -180px;
    left: 19px;
    z-index: 9;
}

.emoji-picker__wrapper-left-thread {
    position: absolute;
    top: 0px;
    left: 109px;
    z-index: 9;
}

.emoji-picker__wrapper-right {
    position: absolute;
    bottom: -180px;
    right: 19px;
    z-index: 9;
}

.emoji-picker__wrapper-right-thread {
    position: absolute;
    bottom: 0;
    right: 118px;
    z-index: 9;
}

.thread__days__chatbox__msg-container {
    margin-top: 0px !important;
}

.chatbox__msg-container__sent {
    @include mixins.flexbox(row-reverse, flex-start, flex-start, nowrap);
}

.chatbox__addemoji-container {
    display: none;
    background: colors.$white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border: 1px solid colors.$light-purple;
    padding: 3px 13px;
    position: absolute;
    top: -15px;
    right: 60px;

    img {
        display: block;
        border-radius: 20px;
        width: 40px;
        height: 40px;
        cursor: pointer;

        &:hover {
            filter: invert(31%) sepia(41%) saturate(5436%) hue-rotate(231deg) brightness(101%) contrast(99%);
        }
    }

    >div {
        @include mixins.flexbox(row, center, center, nowrap);
        width: 40px;
        height: 40px;
        border-radius: 20px;
    }

    .chatbox__addemoji__emoji-container {
        &:hover {
            background-color: colors.$bg-color;
        }
    }

    svg {
        width: 24px;
        height: 24px;
    }
}

