@media (orientation: landscape) and (max-width: 800px) {
    .reset {
        .containerNoAnimation {
            left: 0px;
            justify-content: center;
            width: 100%;
        }
    }
}