@media (orientation: landscape) and (max-width: 800px) {

    section {
        //padding-top: 140px;  christoph: dann sieht footer komisch aus
    }

    .sectionDisplayHeight {
        //height: unset;  christoph: dann sieht footer komisch aus
        //padding-top: 140px;  christoph: dann sieht footer komisch aus
    }

    .reset {
        .containerNoAnimation {
            left: 0px;
            justify-content: center;
            width: 100%;
        }
    }
}