<section>
    <div class="afterIntro">
        <header>
            <img src="" alt="">
            <div [ngStyle]="{'opacity': loginPage ? 1 : 0 }">
                <span>Neu bei DABubble?</span>
                <a routerLink="signUp">Konto erstellen</a>
            </div>
        </header>
        <router-outlet></router-outlet>
        <footer>
            <a routerLink="imprint">Impressum</a>
            <a routerLink="legalnotice">Datenschutz</a>
        </footer>
    </div>
    <div class="container">
        <img src="img/logo.svg">
        <h1>DABubble</h1>
    </div>
</section>