@use './../../mixins.scss' as mixins;
@use './../../colors.scss' as colors;

header {
    position: absolute;
    height: 100px;
    width: 100%;
    top: 0px;
    @include mixins.flexbox($justify: space-between);
    padding: 0px 30px;
    >div {
        @include mixins.flexbox($direction: column, $justify: start);
    }
    .logo {
        @include mixins.flexbox();
        gap: 10px;
        >span {
            font-size: 30px;
            font-weight: 700;
        }
    }
}

section {
    @include mixins.flexbox($direction: column);
    height: 100vh;
    width: 100%;
    max-width: 1980px;
    background-color: colors.$bg-color;
    text-align: center;
}

input {
    background-color: colors.$bg-color;
    border: none;
    flex: 1;
    &:focus-visible {
        outline: unset;
    }
}

.inputCont {
    @include mixins.flexbox($direction: column);
    gap: 10px;
    width: 100%;
}

.input {
    @include mixins.flexbox($justify: start);
    @include mixins.border-marker($color: colors.$white);
    background-color: colors.$bg-color;
    width: 100%;
    padding: 10px;
    border-radius: 100px;
    gap: 5px;
    &:hover, input{
        cursor: pointer;
        border-color: colors.$purple2;
    }
    &:focus-within, input {
        border-color: colors.$purple2;
    }
}

.mainCont {
    @include mixins.flexbox($direction: column, $justify: space-around);
    border-radius: 30px;
    background-color: colors.$white;
    padding: 50px;
    gap: 40px;
    position: relative;
    a{
        padding: 5px 10px;
        border-radius: 100px;
        &:hover {
            background-color: colors.$light-purple;
            color: colors.$purple3;
        }
    }
}

h1 {
    color: colors.$purple;
    font-size: 46px;
    font-weight: 700px;
}

.line {
    @include mixins.border-marker($color: colors.$light-purple);
}

a {
    color: colors.$purple2;
    text-decoration: none;
}



.buttons {
    @include mixins.flexbox();
    gap: 25px;
}

button {
    background-color: unset;
    border-radius: 25px;
    padding: 12px 25px;
    &:hover {
        cursor: pointer;
    }
}

.button_blue {
    background-color: colors.$purple;
    color: colors.$white;
    border-color: colors.$purple;
    &:hover {
        opacity: 0.8;
    }
}

.button_white {
    @include mixins.border-marker(colors.$white);
    color: colors.$purple;
    &:hover {
        border-color: colors.$light-purple;
    }

}

.arrowBack {
    position: absolute;
    left: 30px;
    top: 30px;
    :hover {
        background-color: colors.$light-purple;
        border-radius: 50%;
        cursor: pointer;
        path {
            fill: colors.$purple;
        }
    }
}

footer {
    position: absolute;
    bottom: 30px;
    @include mixins.flexbox();
    gap: 40px;
    a {
        padding: 10px;
        border-radius: 100px;
        @include mixins.border-marker($color: colors.$bg-color);
        &:hover {
            border-color: colors.$white;
        }
    }
}

.warning {
    @include mixins.flexbox($justify: start);
    width: 100%;
    color: red;
}

form {
    @include mixins.flexbox($direction: column,  $align: start);
    gap: 40px;
    width: 100%;
    span {
        padding-left: 20px;
    }
    .link {
        width: 100%;
    }
}