@if (!introPlayed) {
<div class="animationBackground "></div>
}
<section [ngClass]="{'paddingBottom': loginPage}">
    <div [ngClass]="{ 'container': !introPlayed, 'containerNoAnimation': introPlayed}">
        <img (click)="this.router.navigate(['']);" src="img/logo.svg">
        <div class="textcontainer">
            <h1>DABubble</h1>
        </div>
    </div>
    <header [ngClass]="{ 'afterIntro': !introPlayed }">
        <div [ngClass]="(loginPage) ? 'flex': 'd-none'">
            <span>Neu bei DABubble?</span>
            <a routerLink="signUp">Konto erstellen</a>
        </div>
    </header>
    <div [ngClass]="{ 'afterIntro': !introPlayed}">
        <router-outlet></router-outlet>
    </div>
    <footer [ngClass]="{ 'afterIntro': !introPlayed}">
        <a routerLink="imprint">Impressum</a>
        <a routerLink="legalnotice">Datenschutz</a>
    </footer>
</section>

@if (toastMessage != '') {
    <app-toastmessage></app-toastmessage>
}