@use './../../mixins.scss' as mixins;
@use './../../colors.scss' as colors;


.afterIntro {
    opacity: 0;
    animation: reveal 1s 1s forwards;
}

.container {
    position: absolute;
    display: flex;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 10px;
    z-index: 100;
    max-width: 1920px;
    animation: moveToTopLeft 1s 1s forwards;

    img {
        width: auto;
        height: 184px;
        animation: shrinkImage 1s 1s forwards;
        z-index: 2;
    }

    h1 {
        font-size: 40px;
        font-weight: 700;
        animation: changeHeadline 1s 1s forwards;
        color: white;
    }

}


.containerNoAnimation {
    position: absolute;
    display: flex;
    align-items: center;
    top: 75px;
    left: 75px;
    gap: 10px;
    max-width: 1920px;

    img {
        width: auto;
        height: 75px;
        z-index: 2;
    }

    h1 {
        color: black;
        font-size: 20px;
        font-weight: 400;
    }

}



header {
    position: absolute;
    // height: 100px;
    // width: 100%;
    top: 95px;
    right: 20px;
    @include mixins.flexbox($justify: space-between);
    // padding: 0px 30px;

    >div {
        @include mixins.flexbox($direction: column, $justify: start);
    }
    .logo {
        @include mixins.flexbox();
        gap: 10px;
        >span {
            font-size: 30px;
            font-weight: 700;
        }
    }
}

.animationBackground {
    @include mixins.flexbox($direction: column);
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: colors.$bg-color;
    background: rgba(49, 58, 229, 1);
    animation: changeBackground 1s 1s forwards;
}

section {
    @include mixins.flexbox($direction: column);
    height: 100vh;
    width: 100vw;
    max-width: 1980px;
    text-align: center;
    // animation: changeBackground 1s 1s forwards;
    position: relative;
}

input {
    background-color: colors.$bg-color;
    border: none;
    flex: 1;
    &:focus-visible {
        outline: unset;
    }
}

.inputCont {
    @include mixins.flexbox($direction: column);
    gap: 10px;
    width: 100%;
}

.input {
    @include mixins.flexbox($justify: start);
    @include mixins.border-marker($color: colors.$white);
    background-color: colors.$bg-color;
    width: 100%;
    padding: 10px;
    border-radius: 100px;
    &:hover, input{
        cursor: pointer;
        border-color: colors.$purple2;
    }
    &:focus-within, input {
        border-color: colors.$purple2;
        padding-left: 10px;
        &::placeholder {
            display: none;
        }
    }
}

.mainCont {
    @include mixins.flexbox($direction: column, $justify: space-around);
    border-radius: 30px;
    background-color: colors.$white;
    padding: 50px;
    gap: 40px;
    position: relative;

    a {
        padding: 5px 10px;
        border-radius: 100px;

        &:hover {
            background-color: colors.$light-purple;
            color: colors.$purple3;
        }
    }
}

h1 {
    color: colors.$purple;
    font-size: 46px;
    font-weight: 700px;
}

.line {
    @include mixins.border-marker($color: colors.$light-purple);
}

a {
    color: colors.$purple2;
    text-decoration: none;
}



.buttons {
    @include mixins.flexbox();
    gap: 25px;
    button:disabled {
        background-color: gray;
        border-color: colors.$white;
    }
}

button {
    background-color: unset;
    border-radius: 25px;
    padding: 12px 25px;

    &:hover {
        cursor: pointer;
    }
}

.button_blue {
    background-color: colors.$purple;
    color: colors.$white;
    border-color: colors.$purple;
    &:hover {
        opacity: 0.8;
    }
}

.button_white {
    @include mixins.border-marker(colors.$light-purple);
    color: colors.$purple;
    &:hover {
        border-color: colors.$light-purple;
        background-color: colors.$purple;
        color: colors.$white;
    }

}

.arrowBack {
    position: absolute;
    left: 10px;
    top: 30px;
    :hover {
        background-color: colors.$light-purple;
        border-radius: 50%;
        cursor: pointer;

        path {
            fill: colors.$purple;
        }
    }
}

footer {
    position: absolute;
    width: 100%;
    bottom: 30px;
    @include mixins.flexbox();
    gap: 40px;

    a {
        padding: 10px;
        border-radius: 100px;
        @include mixins.border-marker($color: colors.$bg-color);
        &:hover {
            border-color: colors.$light-purple;
        }
    }
}

.warning {
    @include mixins.flexbox($justify: start);
    width: 100%;
    color: red;
}

form {
    @include mixins.flexbox($direction: column, $align: start);
    gap: 40px;
    width: 100%;

    span {
        padding-left: 20px;
    }

    .link {
        width: 100%;
    }
}


@keyframes changeBackground {
    from {
        //background: linear-gradient(1.46deg, #313AE6 1.22%, #797EF3 98.76%);
        background: rgba(49, 58, 229, 1);
        opacity: 1;
    }

    to {
        background: rgba(236, 238, 254, 0);
        opacity: 0;
    }
}

@keyframes changeHeadline {
    from {

        color: white;
    }

    to {
        color: black;
        font-size: 20px;
        font-weight: 400;
    }
}


@keyframes shrinkImage {
    from {
        height: 184px;
    }

    to {
        height: 75px;
    }
}

@keyframes moveToTopLeft {

    from {
        transform: translate(-50%, -50%);
    }

    to {
        top: 75px;
        left:75px;
        transform: translate(0%, 0%);
    }
}

@keyframes reveal {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}