@use "../../../../mixins.scss" as mixins;
@use "../../../../colors.scss" as colors;

.usermenu-container {
  width: 485px;
  height: 100%;
  min-width: 366px;
  display: flex;
  justify-content: flex-end;
}

.usermenu-container-box {
  @include mixins.flexbox(row, flex-end, center, wrap);
  gap: 25px;
  cursor: pointer;
  &:hover {
    color: colors.$purple2;
    .arrow-down path {
      fill: colors.$purple2;
    }
  }
  img:nth-child(1) {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
  span {
    font-size: 32px;
    font-weight: 700;
  }
  svg {
    width: 16px;
    height: 16px;
    margin-right: 20px;
  }
}

.avatar-container {
  position: relative;
  div {
    position: absolute;
    bottom: 3px;
    right: 3px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid colors.$white;
  }
}

.dialog-background {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: colors.$light-grey;
  z-index: 555;
}
