@use './../host.scss';
@use '../../../mixins.scss' as mixins;

form {
    max-width: 400px;
    gap: 40px !important;
    >div {
        width: 100%;
        @include mixins.flexbox();
        gap: 5px;
    }
}