section {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(1.46deg, #313AE6 1.22%, #797EF3 98.76%);
    display: flex;
    justify-content: center;
    align-items: center;


    img {
        position: absolute;
        width: 150px;
        height: auto;
    }

}