@use "../../../mixins.scss" as mixins;
@use "../../../colors.scss" as colors;


.logo-container{
    @include mixins.flexbox(row, flex-start, center, wrap);
    height: 100%;
    width: 100%;
    border-radius: 30px;
    gap: 16px;
    width: 366px;
    img{
        width: 70px;
        height: 70px;
    }
    span{
        font-size: 32px;
        font-weight: 700;
    }
}