@import "../../../mixins.scss";



.logo-container{
    @include flexbox(row, center, center);
    gap: 16px;
    img{
        width: 70px;
        height: 70px;
    }
    span{
        font-size: 32px;
        font-weight: 700;
    }
}