@use "../../../mixins.scss" as mixins;



.logo-container{
    @include mixins.flexbox(row, center, center);
    gap: 16px;
    img{
        width: 70px;
        height: 70px;
    }
    span{
        font-size: 32px;
        font-weight: 700;
    }
}