@use '../../../button.scss' as button;
@use "../../../mixins.scss" as mixins;
@use '../../../colors.scss' as colors;

.channel-form {
    @include mixins.flexbox(column, center, flex-start);
    gap: 20px;
    width: 100%;
    height: 100%;
    padding: 40px;
    p{
        flex-wrap: nowrap;
        font-family: Nunito;
        font-size: 18px;
        font-weight: 400;
        line-height: 24.55px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }
    .description{
        @include mixins.flexbox(row, flex-start, center);
        span{
            color: #686868;
            font-family: Nunito;
            font-size: 18px;
            font-weight: 400;
            line-height: 24.55px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
        }
    }


    .add-channel-header {
        width: 100%;
        @include mixins.flexbox(row, space-between, center, nowrap);
        font-family: Nunito;
        font-size: 24px;
        font-weight: 700;
        line-height: 32.74px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }


}

.icon-button{
    cursor: pointer;
    width: 24px;
    height: 24px;
    border: none;
    outline: none;
    background-color: colors.$white;
    border-radius: 12px;
    svg{
        width: 24px;
        height: 24px;
        path{
            fill: black;
        }
    }
}

.icon-button:hover{
    background-color: colors.$bg-color;
    path{
        fill: colors.$purple3;
    }
}

.icon-button:active{
    background-color: colors.$bg-color;
    path{
        fill: colors.$purple2;
    }
}

.form{
    width: 100%;
    @include mixins.flexbox(column, flex-start, flex-start);
    gap: 20px;
    .form-group{
        @include mixins.flexbox(column, flex-start, flex-start);  
        width: 100%;
        gap: 20px;
    }

    input {
        width: 100%;
        height:  60px;
        padding: 18px 20px 18px 20px;
        gap: 20px;
        border-radius: 40px;
        border: 1px solid colors.$light-purple;
        opacity: 0px;
        &:hover {
            outline: 1px solid colors.$light-purple;
        }
        &:focus-visible {
            outline: 1px solid colors.$purple2;
        }
        &::placeholder {
            color: colors.$grey;
            font-size: 16px;
        }
    }
}


.add-members-radio{
    @include mixins.flexbox(row, flex-start, center);
    width: 100%;
    p{
        cursor: default;
    }
    input{
        border-radius: 50%;
        margin-right: 20px;
        cursor: pointer;
    }
    span{
        cursor: default;
        color: colors.$purple3;
    }
}

.add-members-input{
    position: relative;
    width: 100%;
    input{
        width: 100%;
        border-radius: 50%;
        margin-right: 0px;        
        cursor: pointer;
    }

    .members-list{
        @include mixins.flexbox(column, flex-start, flex-start, nowrap);
        position: absolute;
        padding: 15px 20px;
        background-color: colors.$white;
        border: 1px solid colors.$light-purple;
        top: 40px;
        left: 20px;
        width: fit-content;
        border-radius: 0 30px 30px 30px;
        ul{
            @include mixins.flexbox(column, flex-start, flex-start, nowrap);
            overflow-y: scroll;
            max-height: 200px;
            gap : 10px;
        }

    }
}


li{
    cursor: pointer;
    @include mixins.flexbox(row, flex-start, center, nowrap);
    gap: 10px;
    padding: 0 80px 0 0;
    img {
        border-radius: 50%
    }
}
.button-container{
    @include mixins.flexbox(row, flex-end, center, nowrap);
    width: 100%;
}


.button-container-members{
        @include mixins.flexbox(row, space-between, center, nowrap);
        width: 100%;
        height: 60px;
        ul{
            @include mixins.flexbox(row, flex-start, flex-start, nowrap);
            width: 100%;
            overflow-x: scroll;
            li{
                padding: 0 10px 0 0;
            }
        }
}
#members{
        width: 100%;
        padding: 15px 20px;
        border-radius: 30px;
        border: unset;
        border: 1px solid #ADB0D9;
        font-size: 18px;
}


::ng-deep .mat-dialog-container {
    overflow: visible !important;
    }

::ng-deep .cdk-overlay-pane {
    overflow: visible !important;
    }

::ng-deep.mat-mdc-dialog-surface {
        overflow: visible !important;
    }