<div class="channel-form">
    <h2>Channel erstellen</h2>
    <p>Channels dienen deinem Team zur Kommunikation. Am besten sollten sie themenbezogen sein 
        <br>
        #marketing zum Beispiel.
    </p>
    <form [formGroup]="channelForm" (ngSubmit)="onSubmit()">
        <div>
            <label for="name">Channel-Name</label>
            <input id="name" type="text" formControlName="name" placeholder="Channel-Name eingeben" />
            @if (channelForm.get('name')?.invalid && channelForm.get('name')?.touched) {
            <div class="error">
                Der Name ist erforderlich.
            </div>
            }
        </div>
        <div>
            <label for="description">Beschreibung</label>
            <textarea id="description" formControlName="description" placeholder="Optionale Beschreibung"></textarea>
        </div>
        <button type="submit" [disabled]="channelForm.invalid">Channel erstellen</button>
    </form>
</div>