@use "../../../../mixins.scss" as mixins;
@use "../../../../colors.scss" as colors;

.mainchat__chatbox {
  display: flex;
  position: relative;
  flex-direction: column;  
  flex: 1;
  width: 100%;
  height: calc(100% - 8px);
  overflow: auto; 
  margin: 0 0 24px;
  top: 4px;

}

.threadchat__chatbox {
  display: flex;
  position: relative;
  flex-direction: column;  
  height: calc(100% - 114px);
  overflow: auto;
  margin: 20px 0 0;
  top: 90px;
  scroll-snap-type: y mandatory;
}


.mainchat__chatbox.has-scroll,
.threadchat__chatbox.has-scroll {
  flex-direction: column-reverse;
}

.thread__days__devider {
  margin: 10px 35px !important;

  &::before, &::after {
    background-color: white !important;
  }

  .thread__divider-text {
    display: none;
  }
}

.thread__days__chatbox__msg-container {
  margin-top: 0px !important;
}

.thread__divider {
  @include mixins.flexbox(row, center, center, nowrap);
  position: absolute;
  top: 50%;

  &::before,
  &::after {
    flex: 1;
    content: "";
    padding: 1px;
    background-color: colors.$light-purple;
  }
}


.message {
  @include mixins.flexbox(row, center, center, nowrap);
  margin: 20px 35px;
  scroll-snap-align: end;

}

.thread__divider-text {
  font-size: 1.125rem;
  padding: 5px 15px;
  border: 1px solid colors.$light-purple;
  border-radius: 30px;
  z-index: 1;
  background-color: colors.$white;
}

.chatbox__mainthread-container {
  @include mixins.flexbox(row, flex-start, flex-start, nowrap);
  gap: 20px;
  padding: 10px 40px;
  margin-top: 17px;
  position: relative;
  width: 100%;

  &:hover {
    background-color: colors.$bg-color;
  }
  &:hover .chatbox__msg {
    background-color: colors.$white;
  }
  &:hover .chatbox__msg-sent {
    background-color: colors.$purple2;
  }

  &:hover .chatbox__addemoji-container {
    @include mixins.flexbox(row, center, center, nowrap);
  }
}

.chatbox__threads-divider {
  width: 100%;
  display: flex;
  align-self: flex-start;
  align-items: center;
  font-size: 1.125rem;
  color: colors.$light-purple;
  margin-inline: auto;
  padding-left: 33px;
  padding-right: 32px;
}

.chatbox__threads-divider::after {
  flex: 1;
  content: "";
  padding: 1px;
  background-color: colors.$light-purple;
  margin-left: 20px;
  margin-top: 8px;
  margin-bottom: 2px;
}

.chatbox__msg-container {
  @include mixins.flexbox(row, flex-start, flex-start, nowrap);
  gap: 20px;
  padding: 10px 40px;
  margin-top: 17px;
  position: relative;
  width: 100%;

  &:hover {
    background-color: colors.$bg-color;
  }
  &:hover .chatbox__msg {
    background-color: colors.$white;
  }
  &:hover .chatbox__msg-sent {
    background-color: colors.$purple2;
  }

  &:hover .chatbox__addemoji-container {
    @include mixins.flexbox(row, center, center, nowrap);
  }
}

.chatbox__addemoji-container {
  display: none;
  background: colors.$white;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border: 1px solid colors.$light-purple;
  padding: 3px 13px;
  position: absolute;
  top: -15px;
  right: 60px;
  z-index: 99;
  img {
    display: block;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;

    &:hover {
      filter: invert(31%) sepia(41%) saturate(5436%) hue-rotate(231deg)
        brightness(101%) contrast(99%);
    }
  }

  > div {
    @include mixins.flexbox(row, center, center, nowrap);
    width: 40px;
    height: 40px;
    border-radius: 20px;
  }

  .chatbox__addemoji__emoji-container {
    &:hover {
      background-color: colors.$bg-color;
    }
  }
  svg {
    width: 24px;
    height: 24px;
  }
}

.chatbox__addemoji__lastUsedEmoji{
  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size:20px;

  &:hover{
    background-color: colors.$bg-color;
  }
}

.emoji-picker__wrapper-top-right{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
}

.emoji-picker__wrapper-top-right-thread{
  position: absolute;
  top: 0;
  right: 0px;
  z-index: 999;
}

.emoji-picker__wrapper-top-left{
  position: absolute;
  top: 0;
  left: 27px;
  z-index: 999;
}

.emoji-picker__wrapper-top-left-thread{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}

.emoji-picker__wrapper-left{
  position: absolute;
  bottom: -180px;
  left: 19px;
  z-index: 999;
}

.emoji-picker__wrapper-left-thread{
  position: absolute;
  top: 0px;
  left: 109px;
  z-index: 999;
}

.emoji-picker__wrapper-right{
  position: absolute;
  bottom: -180px;
  right: 19px;
  z-index: 999;
}

.emoji-picker__wrapper-right-thread{
  position: absolute;
  bottom: 0;
  right: 118px;
  z-index: 999;
}

.chatbox__editmsg-btn__container {
  &:hover .chatbox__editmsg-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.chatbox__addemoji__sent {
  left: 25px;
  right: unset;
}

.chatbox__editmsg-container {
  display: none;
  padding: 20px 40px;
  width: 310px;
  position: absolute;
  top: 10px;
  right: -292px;
  background-color: colors.$white;
  box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.2);
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  &:hover .chatbox__editmsg:hover {
    color: colors.$purple3;
    font-weight: 700;
    background-color: colors.$bg-color;
    border-radius: 100px;
    cursor: pointer;
  }
}

.chatbox__editmsg {
  text-wrap: nowrap;
  font-size: 1.25rem;
  padding: 10px 20px;
}

.chatbox__msg-avatar {
  border-radius: 40px;
  cursor: pointer;
}

.chatbox__msg-info {
  @include mixins.flexbox(row, flex-start, center);
  gap: 20px;
}

.chatbox__msg-name {
  font-size: 1.125rem;
  font-weight: 700;
  cursor: pointer;

  &:hover {
    color: colors.$purple;
  }
}

.chatbox__msg-time {
  font-size: 0.875rem;
  color: colors.$grey;
}

.chatbox__msg {
  background-color: colors.$bg-color;
  padding: 15px;
  margin-top: 8px;
  margin-bottom: 8px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  line-height: 24.55px;
  display: block;
  word-break: break-word;
  max-width: fit-content;
}

.chatbox__info {
  @include mixins.flexbox(column , flex-start, flex-start, nowrap);
  gap: 20px;
}

.chatbox__answers-container {
  @include mixins.flexbox(row, flex-start, center, nowrap);
  padding-top: 0.3em;
}

.chatbox__answers {
  font-size: 1.125rem;
  color: colors.$purple3;
  margin-right: 20px;
  text-wrap: nowrap;
  cursor: pointer;
}

.chatbox__last-answer {
  font-size: 0.875rem;
  color: colors.$grey;
  display: block;
}

.chatbox__msg-container__sent {
  @include mixins.flexbox(row-reverse, flex-start, flex-start, nowrap);
}

.chatbox__msg-sent-info {
  @include mixins.flexbox(row-reverse, flex-start, center);
}

.chatbox__msg-sent-item2 {
  @include mixins.flexbox(column, flex-start, flex-end);
}

.chatbox__msg-sent {
  background-color: colors.$purple2;
  padding: 15px;
  margin-top: 8px;
  border-top-left-radius: 20px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  line-height: 24.55px;
  color: colors.$white;
  display: inline-block;
  word-break: break-word;
  max-width: fit-content;
}

.chatbox__reaction-wrapper {
  display: flex;
  gap: 8px;
}

.dialog-background {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: colors.$light-grey;
  z-index: 555;
}

.editMessage {
  width: 100%;
  min-height: 150px;
  position: relative;
  background-color: white;
  border: 1px solid colors.$light-purple;
  border-radius: 20px;
  textarea {
    color: black;
    border: unset;
    outline: none;
    width: 100%;
    height: 100px;
    resize: none;
    max-width: unset;
    margin: 0;
    border-radius: 20px;
    padding-bottom: 0px;
  }
  .chatbox__msg-sent {
    background-color: white !important;
  }
  .chatbox__addreaction-container {
    display: flex;
    margin-left: 20px;
    >img {
      width: 20px;
      cursor: pointer;
    }
  }

  .buttons {
    padding: 10px 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    .cont {
      display: flex;
      gap: 20px;
      margin-right: 20px;
    }
  }
}

.emptyMessage {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  cursor: default;

  h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 32.74px;
    margin-left: 20px;
  }

  .headline {
    margin: 0px 20px;
    display: flex;
    align-items: end;
    gap: 15px;
    img {
      width: 100px;
      height: 100px;
      border-radius: 100%;
    }
    span {
      font-weight: 700;
      font-size: 24px;
      line-height: 32.74px;
    }
  }

  .text {
    display: flex;
    margin: 20px 20px;
    span {
      display: flex;
    }
  }

  .name {
    color: colors.$purple3;

    &:hover {
      font-weight: 700;
      cursor: pointer;
    }
  }

  .nohover {
    &:hover {
      font-weight: 400;
      cursor: default;
    }
  }
}

.mobile_answer {
  
  .chatbox__reaction-wrapper {
    margin-top: 35px
  }

  .chatbox__answers {
    margin-right: 10px;
  }

  .chatbox__msg-container {
    padding: 10px 10px;
  }

  .message {
    margin: 20px;
  }
}

.left10px {
  left: 5%;
}

@media(max-width: 550px) {
  .emptyMessage {
    .text {
      span {
        flex-direction: column;
      }
    }
  }

  .chatbox__editmsg-container {
    top: 40px;
    right: -60px;
    padding: 0px 10px;
    gap: 0px !important;
    width: 250px;
  }

  .chatbox__editmsg {
    padding: 10px;
  }

  .chatbox__answers-container {
    position: absolute;
    right: -95px;
    width: fit-content;
  }

  .chatbox__msg-sent-item2 {
    position: relative;
  }

  .chatbox__msg-container_padding0 {
    padding: 0px
  }

  .chatbox__msg-container {
    padding: 10px 10px;
  }

  .editMessage>.buttons>.cont {
    gap: 10px;
    button {
      padding: 5px 10px !important;
    }
  }
}
