@if (loadingMessages() && !loadingAvatars) {
  <div class="loading-container">
    <p>Lade Nachrichten...</p>
  </div>
  } @else { @if (builder == "threadchat") {
  <div class="threadchat__chatbox">
    <div class="chatbox__mainthread-container">
      @if (parentMessage) { 
        @if (parentMessage.createdBy) { 
        @if(isChatBoxEmojiPickerOpen && chatBoxEmojiPickerOpenFor === parentMessage.docId && displayEmojiPickerMainThread){
      <div [class]="{
            'emoji-picker__wrapper-left-thread':
              displayPickerBottom && parentMessage.createdBy !== activeUserId,
            'emoji-picker__wrapper-top-right-thread':
              !displayPickerBottom && parentMessage.createdBy !== activeUserId,
            'emoji-picker__wrapper-top-left-thread':
              !displayPickerBottom && parentMessage.createdBy === activeUserId,
            'emoji-picker__wrapper-right-thread':
              displayPickerBottom && parentMessage.createdBy === activeUserId
          }" (click)="preventEmojiPickerClose($event)">
        <app-emoji-picker componentName="chatbox" (emoji)="addEmoji(parentMessage.docId, activeUserId!, $event, false)" />
      </div>
        }
        <button class="chatbox__addemoji-container" (click)="preventEmojiPickerClose($event)">
          @if(getLastUsedEmojis(0)){
          <span class="chatbox__addemoji__lastUsedEmoji" (click)="
                addEmoji(
                  parentMessage.docId!,
                  activeUserId!,
                  getLastUsedEmojis(0),
                  false
                )
              ">
            {{ getLastUsedEmojis(0) }}
          </span>
          @if(getLastUsedEmojis(1)){
          <span class="chatbox__addemoji__lastUsedEmoji" (click)="
                addEmoji(
                  parentMessage.docId!,
                  activeUserId!,
                  getLastUsedEmojis(1),
                  false
                )
              ">
            {{ getLastUsedEmojis(1) }}
          </span>
          } }
          <div class="chatbox__addemoji__emoji-container" (click)="
                toggleEmojiPicker(parentMessage.docId || 'fallback', false, true)
              ">
            <img src="/img/icons/addemoji.svg" alt="" />
          </div>
        </button>
        <app-parent-message 
          *ngIf="parentMessage && activeMessageId && activeUserId"
          [activeMessageId]="activeMessageId"
          [parentMessage]="parentMessage"
          [activeUserId]="activeUserId"
          (userClicked)="handleUserClick($event)">
        </app-parent-message>
      } 
      <!-- <div class="chatbox__mainthread-container">
        @if (parentMessage && activeUserId && activeMessageId) {
        <app-parent-message           
        [activeMessageId]="activeMessageId"
        [parentMessage]="parentMessage"
        [activeUserId]="activeUserId"
        (userClicked)="handleUserClick($event)">></app-parent-message>
      }
      </div> -->
    }
    </div>
    <div class="chatbox__threads-divider">
      {{ (threadMessages$ | async)?.length || 0 }} Antworten
    </div>
    @for (threadmessage of (threadMessages$ | async); track threadmessage.docId) { 
      @if (threadmessage && activeMessageId && activeUserId) {
          <app-thread-message 
            [threadMessage]="threadmessage" 
            [activeUserId]="activeUserId"
            [activeMessageId]="activeMessageId"
            (userClicked)="handleUserClick($event)">
          </app-thread-message>
      }
    }
  </div>
  } @else {
  <div class="mainchat__chatbox">
    @if (isEmptyMessage) {
    <div class="emptyMessage">
      @if(private || self) {
      <div class="headline">
        <img [src]="user.photoUrl" alt="Avatar">
        <span>{{ user.name }}</span>
      </div>
      } @else {
      <h2># {{ channelName }}</h2>
      }
      <div class="text">
        @if (self && private) {
        <span>Dieser Raum ist nur für dich da. Mache dir Notizen, liste deine To-dos auf oder bewahre Links und Dateien
          griffbereit auf. Du kannst hier auch gerne Dinge mit dir selbst besprechen.</span>
        } @else if(private) {
        <span>Diese Unterhaltung findet nur zwischen &nbsp;<p (click)="openDialogUser(user.id)" class="name">&#64;{{
            user.name }}&nbsp;</p> und dir statt.</span>
        } @else {
          
        <span>{{channelCreatorName}} hat diesen Channel {{ timestep }} erstellt. Das ist der Anfang des Channels &nbsp;<p class="name nohover"># {{
            channelName }}</p>.</span>
        }
      </div>
    </div>
    } @else {
    @for (message of (messages$ | async); track message.docId) { @if (message ) {
          @let shouldRenderDivider = checkAndSetPreviousTimestamp(message.timestamp);
          @if (activeUserId){
            <app-messages style="width: 100;" [shouldRenderDivider]="shouldRenderDivider" [message]="message" [activeUserId]="activeUserId" [isCurrentUser]="message.createdBy === activeUserId"></app-messages>
          }
        } 
      }
    }
  </div>
  }}