<div class="threadchat-container">
  <app-threadchat-header class="threadchat__header"></app-threadchat-header>
  <!-- <div class="threadchat__item1">
    <div class="chatbox__mainthread-container">
      <button class="chatbox__addemoji-container">
        <div class="chatbox__addemoji__emoji-container">
          <img src="/img/icons/addemoji.svg" alt="" />
        </div>
      </button>
      <img
        class="chatbox__msg-avatar"
        [src]="parentMessage.creatorPhotoURL"
        alt="Avatar"
        width="70"
        height="70"
      />
      <div class="chatbox__msg-item2">
        <div class="chatbox__msg-info">
          <h3 class="chatbox__msg-name">{{ parentMessage.name }}</h3>
          <p class="chatbox__msg-time">{{ parentMessage.messageTime }}</p>
        </div>
        <p class="chatbox__msg">{{ parentMessage.description }}</p>
        <div class="chatbox__emojis-container">
          <div class="chatbox__emojis">
            <img src="/img/icons/emoji.svg" alt="Emoji" />
            <span>1</span>
          </div>
          <div class="chatbox__addreaction-container">
            <img src="/img/icons/add_reaction.svg" alt="Reaktion hinzufügen" />
          </div>
        </div>
      </div>
    </div>
    <div class="chatbox__threads-divider">
      {{ (threadMessages$ | async)?.length || 0 }} Antworten
    </div>
    <div class="threadchat__chatbox">
      @if ((threadMessages$ | async)?.length) {
        @for (threadMessage of (threadMessages$ | async); track threadMessage.docId) {
          <div class="chatbox__msg-item2">
            <img
              class="chatbox__msg-avatar"
              [src]="threadMessage.creatorPhotoURL"
              alt="Avatar"
              width="50"
              height="50"
            />
            <div class="chatbox__msg-info">
              <h4 class="chatbox__msg-name">{{ threadMessage.creatorName }}</h4>
              <p class="chatbox__msg-time">{{ threadMessage.timestamp }}</p>
            </div>
            <p class="chatbox__msg">{{ threadMessage.message }}</p>
          </div>
        }
      }
    </div>
  </div> -->
  <app-chatbox [builder]="builder" class="threadchat__item1"></app-chatbox>
  <app-messagebox [builder]="builder" class="threadchat__messagebox"></app-messagebox>
</div>
