@use '../../mixins.scss' as mixins;
@use '../../colors.scss' as colors;

.main{
    background-color:colors.$bg-color;
    height: 100%;
    width: 100%;
    max-width: 1920px;
    padding: 20px;
    @include mixins.flexbox(column, flex-start, center, nowrap);
    gap: 20px;
}

.builder-main{
    @include mixins.flexbox(column, flex-start, unset);
    height: calc(100% - 104px);
    width: 100%;
}

.header-main{
    @include mixins.flexbox(row, space-between, center);
    width: 100%;
}