<!-- <div>
  <h1>Firestore Test</h1>
  <ul>
    @for (user of userList; track $index) {
    <li style="padding: 10px; border: 1px solid green">
      Name: {{ user.name }} EMail: {{ user.email }} photoURL:
      {{ user.photoURL }} Status: {{ user.status }} Channels:
      {{ user.channels }} PrivateNoteRef: {{ user.privateNoteRef }} UserID:
      {{ user.userId }}
    </li>
    }
  </ul>
</div> -->

<br />

<input type="text" placeholder="Email" [(ngModel)]="email" />
<input type="text" placeholder="Passwort" [(ngModel)]="password" />
<!-- <button (click)="register()">Registrieren</button> -->
<!-- <span>{{ userId }}</span> -->

<br />

<input type="text" placeholder="Email" [(ngModel)]="loginEmail" />
<input type="text" placeholder="Passwort" [(ngModel)]="loginPassword" />
<button (click)="login()">Login</button>
<!-- <p>{{ userData?.email }}</p>
<p>{{ userData?.name }}</p>
<p>{{ userData?.status }}</p>
<p>{{ userData?.userId }}</p>
<img src="{{ userData?.photoURL }}" alt="" /> -->

<span style="color: red">{{ errorLogin }}</span>

<br />

<button (click)="guestLogin()" class="save default" disabled>GastLogin</button>

<br />

<button (click)="googleLogin()" class="cancel default">Google Login</button>

<br />

<!-- <button (click)="logout()" class="save default">Logout</button> -->

<br>



<button (click)="showToastSignal()">ErrorMessage</button>
<!-- <app-toastmessage></app-toastmessage> -->
