@use "../../../../mixins.scss" as mixins;
@use "../../../../colors.scss" as colors;


.menu-header{
    @include mixins.flexbox(row, flex-start, center);
    width: 100%;
    gap: 15px;
    .menu-header-title{
        @include mixins.flexbox(row, space-between, center);
        flex: 1;
    }
}

