@use "../../../../mixins.scss" as mixins;
@use "../../../../colors.scss" as colors;


.menu-header{
    @include mixins.flexbox(row, flex-start, center ,nowrap);
    width: 100%;
    gap: 15px;
    
    .menu-header-title{
        cursor: default;
        font-weight: 700;
        font-size: 24px;
        line-height: 32.74px;
        @include mixins.flexbox(row, space-between, center, nowrap);
        flex: 1;
        div{
            @include mixins.flexbox(row, center, center ,nowrap);
            border-radius: 50%;
            width: 40px;
            height: 40px;
            padding: 10px;
            svg{
                width: 24px;
                height: 24px;
            }
        }
        div:hover{
            background-color: colors.$bg-color;
            svg{
                path{
                    fill: colors.$purple;
                }
            }
        }
    }
    img{
        padding: 8px;
    }
}

