@import "../../../../mixins.scss";
@import "../../../../colors.scss";

.channels{
    @include flexbox(row, space-between, center);
    width: 100%;
    gap: 15px;
    .titel-box{
        @include flexbox(row, flex-start, center);
        cursor: default;
        gap: 15px;
        div{
            @include flexbox(row, flex-start, center);
            gap: 10px;
        }
        .arrow-box{
            @include flexbox(row, center, center);
            width: 30px;
            height: 30px;
            cursor: pointer;
            svg{
                width: 9px;
            }
        };
    }
    svg{
        cursor: pointer;
        width: 24px;
        height: 24px;
    }
};

.channels:hover{
    color: $purple2;
    svg{
        path{
            fill: $purple2;
        }
    }
}

.channels-closed{
    svg {
        transform: rotate(270deg);
    }
}

