<header class="mainchat__header">
  <button class="mainchat__header-btn" (click)="openDialog('channelDialog')">
    <span class="mainchat__header-btn__hashtag">#</span>
    <h3 class="mainchat__header-btn__title">{{channelTitle}}</h3>
    <div class="mainchat__header-btn__img-container">
      <img src="img/icons/arrow_down.svg" alt="" height="8" width="14" />
    </div>
    @if (this.channelDialog) {
      <app-menu-dialog
        class="channelDialog"
        [menuDialog]="menuDialog"
        [membersDialog]="membersDialog"
        [channelDialog]="channelDialog"
        [dialogData]="dialogData"
        (dialogSwitch)="onDialogSwitch($event)">
      </app-menu-dialog>
      <div [ngClass]="{
        'dialog-background': channelDialog
      }" (click)="closeDialog($event)">
      </div>
    }
  </button>
  <div class="mainchat__header__item2">
    <div class="mainchat__header__avatar-container" (click)="openDialog('membersDialog')">
      <div class="mainchat__header__avatar-box">
        @if (channelMembers) {
          @for (member of this.channelMembers; track member) {
            <img src="{{member.photoURL}}" alt="Avatar" class="mainchat__header-avatar" height="40px" width="40px" />
        }
      }
      </div>
      <span class="mainchat__header__accounts-number">{{channelMembers.length}}</span>
    </div>
    <div class="mainchat__header__addperson-img-container">
      <img class="mainchat__header__addperson-img" src="img/icons/person_add.svg" alt="" (click)="openDialog('menuDialog')" />
      @if (this.menuDialog){
        <app-menu-dialog
          class="menuDialog"
          [menuDialog]="menuDialog"
          [membersDialog]="membersDialog"
          [channelDialog]="channelDialog"
          [dialogData]="dialogData"
          (dialogSwitch)="onDialogSwitch($event)">
        </app-menu-dialog>
        <div [ngClass]="{
          'dialog-background': menuDialog
        }" (click)="closeDialog($event)">
        </div>
        }
      @if (this.membersDialog){
        <app-menu-dialog
          class="membersDialog"
          [menuDialog]="menuDialog"
          [membersDialog]="membersDialog"
          [channelDialog]="channelDialog"
          [dialogData]="dialogData"
          (dialogSwitch)="onDialogSwitch($event)">
        </app-menu-dialog>
        <div [ngClass]="{
          'dialog-background': membersDialog
        }" (click)="closeDialog($event)">
        </div>
      }
    </div>
  </div>
</header>


