@use "../../mixins.scss" as mixins;
@use "../../colors.scss" as colors;

.header {
  width: 100%;
  max-width: 1920px;
  background-color: colors.$bg-color;
  padding: 25px 30px;
}

.legalNotice-main {
  @include mixins.flexbox(column, flex-start, center, nowrap);
  width: 100%;
  height: 100%;
  padding: 0 20px 20px 20px;
  max-width: 1920px;
}

.legalNotice-content {
  padding: 48px 56px;
  max-width: 676px;
  margin-block: auto;
  margin-inline: auto;
  background-color: colors.$white;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);

  .content {
    height: calc(100% - 130px);
    width: 100%;
    overflow-y: auto;
  }
}

h1 {
  font-weight: 700;
  font-size: 2.875rem;
  color: colors.$purple;
  margin-bottom: 16px;
}

h2 {
  font-weight: 500;
  font-size: 2.5rem;
  color: black;
  margin: 16px 0 16px 0;
}

.h2--0margintop {
  margin-top: 0;
}

h3 {
  font-weight: 500;
  font-size: 2rem;
  color: colors.$purple;
  margin: 16px 0;
}

.h3--0margintop {
  margin-top: 0;
}

h4 {
  font-size: 1.5rem;
  margin: 8px 0;
}

.h4--0margintop {
  margin-top: 0;
}

p {
  line-height: 1.75rem;
}

.backButton {
  transition: 0.25sease-in-out;
  display: inline-block;
  cursor: pointer;
  padding: 8px;
  border-radius: 50px;
  margin-bottom: 32px;

  &:hover {
    background-color: colors.$bg-color;
  }

  &:hover path {
    fill: colors.$purple;
  }

  svg {
    display: block;
  }
}

@media (max-width: 625px){
  .legalNotice-content {
    padding: 32px 40px;
  }

  .backButton {
    margin-bottom: 24px;
  }

  h1 {
    font-size: 2.2rem; 
    margin-bottom: 12px;
  }

  h2 {
    font-size: 2rem; 
    margin: 12px 0;
  }

  h3 {
    font-size: 1.75rem; 
    margin: 12px 0;
  }

  h4 {
    font-size: 1.25rem; 
    margin: 6px 0;
  }

  p {
    line-height: 1.6rem; 
  }
}

@media (max-width: 565px) {
  .legalNotice-content {
    padding: 24px 32px;
  }

  .backButton {
    margin-bottom: 20px;
  }

  h1 {
    font-size: 2rem; 
    margin-bottom: 10px;
  }

  h2 {
    font-size: 1.85rem; 
    margin: 10px 0;
  }

  h3 {
    font-size: 1.6rem; 
    margin: 10px 0;
  }

  h4 {
    font-size: 1.2rem; 
    margin: 6px 0;
  }

  p {
    line-height: 1.5rem; 
  }
}

@media (max-width: 483px) {
  .legalNotice-content {
    padding: 16px 24px;
  }

  .backButton {
    margin-bottom: 16px;
  }

  h1 {
    font-size: 1.85rem; 
    margin-bottom: 10px;
  }

  h2 {
    font-size: 1.7rem; 
    margin: 10px 0;
  }

  h3 {
    font-size: 1.5rem; 
    margin: 10px 0;
  }

  h4 {
    font-size: 1.15rem; 
    margin: 5px 0;
  }

  p {
    line-height: 1.4rem; 
  }
}

@media (max-width: 390px){
  .legalNotice-content {
    padding: 12px 16px; 
  }

  .backButton {
    margin-bottom: 12px;
  }

  h1 {
    font-size: 1.4rem; 
    margin-bottom: 8px;
  }

  h2 {
    font-size: 1.3rem; 
    margin: 8px 0;
  }

  h3 {
    font-size: 1.2rem; 
    margin: 8px 0;
  }

  h4 {
    font-size: 1rem; 
    margin: 4px 0;
  }

  p {
    line-height: 1.3rem;
  }
}