<section class="imprint-main">
    <app-header class="header"></app-header>
    <section class="imprint-content">
        <div class="content">
                <h1>Impressum</h1>
                <h2>Angaben gemäß § 5 TMG</h2>
                <div>
                    <p>
                        Alexander Luft
                    </p>
                    <br>
                    <p>
                        Arnold-Schönbergstr.14
                    </p>
                    <br>
                    <p>
                        66955 Pirmasens
                    </p>
                    <br><br>
                </div>
                <h2>Kontakt</h2>
                <p>
                    E-Mail: <a class="link" href="mailto:info&#64;luft-alexander.de">info&#64;luft-alexander.de</a>
                </p>
            </div>
        </section>
</section>