@use "../../mixins.scss" as mixins;
@use "../../colors.scss" as colors;

.header {
  width: 100%;
  max-width: 1920px;
  background-color: colors.$bg-color;
  padding: 25px 30px;
}

.imprint-main {
  @include mixins.flexbox(column, flex-start, center, nowrap);
  width: 100%;
  height: 100%;
  padding: 0 20px 20px 20px;
  max-width: 1920px;
}

.imprint-content {
  padding: 48px 56px;
  height: 469px;
  width: 100%;
  max-width: 676px;
  margin-block: auto;
  margin-inline: auto;
  background-color: colors.$white;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
}

h1 {
  font-weight: 700;
  font-size: 2.875rem;
  color: colors.$purple;
  margin-bottom: 16px;
}

h2 {
  font-weight: 500;
  font-size: x-large;
  color: black;
  margin: 16px 0 16px 0;
}

.backButton {
  display: inline-block;
  cursor: pointer;
  padding: 8px;
  border-radius: 50px;
  margin-bottom: 32px;

  &:hover {
    background-color: colors.$bg-color;
  }

  &:hover path {
    fill: colors.$purple;
  }
  svg {
    display: block;
  }
}

@media (max-width: 625px) {
  .imprint-content {
    padding: 32px 40px;
  }

  .backButton {
    margin-bottom: 24px;
  }

  h1 {
    font-size: 2.2rem;
    margin-bottom: 12px;
  }

  h2 {
    font-size: 2rem;
    margin: 12px 0;
  }
}

@media (max-width: 565px) {
  .imprint-content {
    padding: 24px 32px;
  }

  .backButton {
    margin-bottom: 20px;
  }

  h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 1.85rem;
    margin: 10px 0;
  }
}

@media (max-width: 483px) {
  .imprint-content {
    padding: 16px 24px;
    max-width: 85%;
  }

  .backButton {
    margin-bottom: 16px;
  }

  h1 {
    font-size: 1.85rem;
  }

  h2 {
    font-size: 1.7rem;
  }
}

@media (max-width: 390px) {
  .imprint-content {
    padding: 12px 16px;
  }

  .backButton {
    margin-bottom: 12px;
  }

  h1 {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 1.3rem;
  }
}