@use "../../../mixins.scss" as mixins;
@use "../../../colors.scss" as colors;

.toast_msg {
  position: fixed;
  bottom: 24px;
  right: 48px;
  min-height: 80px;
  box-shadow: 0px 0px 16px 0px #0000003d;
  min-width: 300px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  overflow: hidden;
  transform: translateX(-100%);
  animation: slideInFromRight 0.5s ease-out forwards,
    slideInFromRight 0.5s ease-out reverse 2s;
  z-index: 999;
  color: colors.$white;
  background-color: colors.$purple;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 49.1px;
  padding: 0 24px;
}

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
