@use './../host.scss';

.d-none {
    display: none !important;
}

.flex {
    display: flex !important;
}

.mainCont {
    a {
        padding: 0px 5px;
    }
}

@media (max-width: 600px) {
    .arrowBack {
        top: 18px;
    }
}