<div
  [ngClass]="{
    'dialog-container': userDialog$.dialog || userDialog$.profileDialog || userDialog$.profileDialogEdit
  }"
  (click)="userDialog$.dontCloseDialog($event)"
>
  @if (userDialog$.dialog) {
  <a (click)="userDialog$.openProfile()" class="dialog-link">Profil</a>
  <a (click)="userDialog$.closeDialog($event)" routerLink="/imprint" class="dialog-link">Impressum</a>
  <a (click)="userDialog$.closeDialog($event)" routerLink="/legalnotice" class="dialog-link">Datenschutz</a>
  <a (click)="userDialog$.logout()" class="dialog-link">Logout</a>
  } @else if (userDialog$.profileDialog) {

  <div class="dialog-profile-container">
    <div class="dialog-header">
      <span>Profil</span>
      @if(userDialog$.exitActiv) {
        <img
        src="/img/icons/close.svg"
        alt="close"
        (click)="userDialog$.closeProfileDialogs($event)"/>
      } @else {
        <img
        src="/img/icons/close.svg"
        alt="close"
        (click)="userDialog$.closeDialog($event)"/>
      }
    </div>
    <div class="dialog-avatar">
      <img [src]="userDialog$.userData?.photoURL" alt="" />
    </div>
    <div class="dialog-profile-info">
      <div>
        <span>{{ userDialog$.userData?.name }}</span>
        <a (click)="userDialog$.openProfileEdit()">Bearbeiten</a>
      </div>
      <div>
        <div target="online-status" [ngStyle]="{'background-color': userDialog$.userData?.status ? '#92c83e' : '#696969'}"></div>
        @if (userDialog$.userData?.status) {
        <span style="color:#92c83e">Aktiv</span>
        } @else {
        <span style="color:#696969">Offline</span>
        }
      </div>
    </div>
    <div class="dialog-profile-mail">
      <img src="/img/icons/mail.svg" alt="" />
      <div>
        <span>E-Mail-Adresse</span>
        <p>{{ userDialog$.userData?.email }}</p>
      </div>
    </div>
  </div>
  } @else if (userDialog$.profileDialogEdit){
  <form class="dialog-profile-container" [formGroup]="userDialog$.profileForm">
    <div class="dialog-header">
      <span>Dein Profil bearbeiten</span>
      <img
        src="/img/icons/close.svg"
        alt="close"
        (click)="userDialog$.closeProfileDialogs($event)"
      />
    </div>
    <div class="dialog-avatar">
      <img [src]="userDialog$.userData?.photoURL" alt="" />
    </div>

    <div class="dialog-profile-info-edit">
      <div class="dialog-profile-edit-container">
        <img src="/img/icons/account_circle.svg" alt="account_circle" />
        <span>Vollständiger Name</span>
      </div>
      <input
        type="text"
        (input)="userDialog$.profileDataChange()"
        placeholder="Bitte vollständigen Namen eingeben"
        formControlName="userInputName"
        [ngClass]="{'data-change-not-allowed': userDialog$.profileForm.disabled}"
      />
      <div
        *ngIf="
          userDialog$.profileForm.get('userInputName')?.hasError('required') &&
          userDialog$.profileForm.get('userInputName')?.dirty
        "
        class="error-message"
      >
        <p>Feld darf nicht leer sein.</p>
      </div>
      <div
        *ngIf="
          userDialog$.profileForm.get('userInputName')?.hasError('pattern') &&
          userDialog$.profileForm.get('userInputName')?.dirty
        "
        class="error-message"
      >
        <p>Bitte Vor- und Nachnamen angeben.</p>
      </div>
    </div>

    <div class="dialog-profile-info-edit">
      <div class="dialog-profile-edit-container">
        <img src="/img/icons/mail.svg" alt="mail" />
        <span>E-Mail-Adresse</span>
      </div>
      <input
        type="text"
        (input)="userDialog$.profileDataChange()"
        placeholder="Bitte E-Mail-Adresse eingeben"
        formControlName="userInputEmail"
        [ngClass]="{'data-change-not-allowed': userDialog$.profileForm.disabled}"
      />
      <div
        *ngIf="
          userDialog$.profileForm.get('userInputEmail')?.hasError('required') &&
          userDialog$.profileForm.get('userInputEmail')?.dirty
        "
        class="error-message"
      >
        <p>Feld darf nicht leer sein.</p>
      </div>
      <div
        *ngIf="
          userDialog$.profileForm.get('userInputEmail')?.hasError('pattern') &&
          userDialog$.profileForm.get('userInputEmail')?.dirty
        "
        class="error-message"
      >
        <p>E-Mail ist ungültig.</p>
      </div>
    </div>

    <div class="dialog-buttons">
      <button class="cancel default" (click)="userDialog$.closeProfileEdit()">
        Abbrechen
      </button>
      <button
        class="save default"
        [disabled]="!userDialog$.profileDataChanged() || userDialog$.profileForm.invalid"
        (click)="userDialog$.saveProfile()"
      >
        Speichern
      </button>
    </div>
  </form>
  }
</div>
