// ANIMATIONEN //

@keyframes hide {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes changeHeadline {
    from {
        color: white;
    }

    to {
        color: black;
        font-size: 32px;
        font-weight: 700;
    }
}

@keyframes changeHeadlineMobile {
    from {
        color: white;
    }

    to {
        color: black;
        font-size: 20px;
        font-weight: 700;
    }
}

@keyframes shrinkImageMobile {
    from {
        height: 75px;
    }

    to {
        height: 56px;
    }
}

@keyframes shrinkImage {
    from {
        height: 184px;
    }

    to {
        height: 75px;
    }
}

@keyframes moveToTopLeft {
    from {
        transform: translate(-50%, -50%);
    }

    to {
        top: 75px; // 75
        left: 75px;
        transform: translate(0%, 0%);
    }
}

@keyframes moveToTopLeftMobile {
    from {
        transform: translate(-50%, -50%);
    }

    to {
        top: 0px; // 75
        left: 50%;
        transform: translate(0%, 0%);
    }
}

@keyframes moveToTopLeft40px {
    from {
        transform: translate(-50%, -50%);
    }

    to {
        top: 40px; // 75
        left: 40px;
        transform: translate(0%, 0%);
    }
}

@keyframes moveToTop {
    from {
        transform: translate(-50%, -50%);
    }

    to {
        top: 34px;
        left: 50%;
        //transform: translate(-50%, -50%);
    }
}


@keyframes reveal {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes moveLeft {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

@keyframes moveBack {
    from {
        transform: translateX(-50);
    }

    to {
        transform: translateX(0%);
    }
}


@keyframes moveLittleLeft {
    from {
        transform: translateX(35%);
    }

    to {
        transform: translateX(31%);
    }
}

@keyframes moveRight {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes makeStatic {
    from {
        //transform: translateX(0);
        transform: translateX(-50%);
    }

    to {
        transform: translateX(21%);
    }
}