$bg-color: rgb(236, 238, 254);
$bg-intro: linear-gradient(1.46deg, #313AE6 1.22%, #797EF3 98.76%);
$white: rgb(255, 255, 255);
$purple: rgb(68, 77, 242);
$purple2: rgb(121, 126, 243);
$purple3: rgb(83, 90, 254);
$light-purple: rgb(173, 176, 217);
$grey: #696969;
$green: #92c83e;
$light-grey: rgba(0, 0, 0, .32);
$blue: rgba(83, 90, 241, 1);
$error: rgba(237, 30, 121, 1);