$bg-color: rgb(236, 238, 254);
$white: rgb(255, 255, 255);
$purple: rgb(68, 77, 242);
$purple2: rgb(121, 126, 243);
$purple3: rgb(83, 90, 254);
$light-purple: rgb(173, 176, 217);
$grey: rgba(104, 104, 104, 1);
$green: rgba(146, 200, 62, 1);
$light-grey: rgba(204, 204, 204, 0.459);
$blue: rgba(83, 90, 241, 1);