@use "colors.scss" as colors;

@mixin flexbox($direction: row, $justify: center, $align: center, $wrap: wrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}

@mixin border-marker($color) {
  border: 1px solid $color;
}

@mixin button($bg-color, $text-color) {
  background-color: $bg-color;
  color: $text-color;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  &:focus-visible {
    border: none;
    outline: none;
  }
}

@mixin button-primary {
  @include button(colors.$purple, colors.$white);
}

@mixin button-secondary {
  @include button(colors.$white, colors.$purple);
  border: 1px solid colors.$purple;
}
