@use './mixins.scss' as mixins;
@use './colors.scss' as colors;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'nunito', sans-serif;
}

body {
    background-color: colors.$bg-color;
    height: 100vh;
    width: 100vw;
    @include mixins.flexbox(column, flex-start, center);
}

@font-face {
    font-family: 'nunito';
    src: url('../public/fonts/Nunito-VariableFont_wght.ttf') format('truetype');
}