@use './mixins.scss' as mixins;
@use './colors.scss' as colors;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'nunito', sans-serif;
}

body {
    background-color: colors.$bg-color;
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    @include mixins.flexbox(column, flex-start, center);
}

@font-face {
    font-family: 'nunito';
    src: url('../public/fonts/Nunito-VariableFont_wght.ttf') format('truetype');
}

app-root, app-main{
    width: 100%;
    height: 100%;
    overflow: hidden;
    @include mixins.flexbox(column, flex-start, center);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
