@use './mixins.scss' as mixins;
@use './colors.scss' as colors;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'nunito', sans-serif;
}

body {
    background-color: colors.$bg-color;
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    @include mixins.flexbox(column, flex-start, center);
    overflow-x: hidden;
}

@font-face {
    font-family: 'nunito';
    src: url('../public/fonts/Nunito-VariableFont_wght.ttf') format('truetype');
}

app-root, app-main, app-legalnotice, app-imprint{
    width: 100%;
    height: 100%;
    @include mixins.flexbox(column, flex-start, center);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



// ANIMATIONEN //

@keyframes hide {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
    }
  }
  
  @keyframes changeHeadline {
    from {
      color: white;
    }
  
    to {
      color: black;
      font-size: 32px;
      font-weight: 700;
    }
  }
  
  @keyframes shrinkImage {
    from {
      height: 184px;
    }
  
    to {
      height: 75px;
    }
  }
  
  @keyframes moveToTopLeft {
    from {
      transform: translate(-50%, -50%);
    }
  
    to {
      top: 75px;
      left: 75px;
      transform: translate(0%, 0%);
    }
  }
  
  @keyframes reveal {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  @keyframes moveLeft {
    from {
      transform: translateX(0);
    }
  
    to {
      transform: translateX(-50%);
    }
  }
  
  @keyframes moveLittleLeft {
    from {
      transform: translateX(35%);
    }
  
    to {
      transform: translateX(31%);
    }
  }
  
  @keyframes moveRight {
    from {
      transform: translateX(-100%);
    }
  
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes makeStatic {
    from {
      //transform: translateX(0);
      transform: translateX(-50%);
    }
  
    to {
      transform: translateX(0);
    }
  }

  h3  {
    color: black;
    font-size: 24px;
    font-weight: 700;
    line-height: 32.74px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }    

  h4{
    color: black;
    font-size: 18px;
    font-weight: 700;
    line-height: 24.55px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }