@use './../../../mixins.scss' as mixins;
@import './../host.scss';

.mainCont {
    >p {
        @include mixins.flexbox($justify: start);
        width: 100%;
    }
}

.name {
    @include mixins.flexbox($justify: center);
    font-size: 32px;
    font-weight: 700;
}

.charakterPics {
    @include mixins.flexbox($justify: center);
    gap: 10px;
    >div>svg {
        &:hover {
            cursor: pointer;
        }
    }
}